.navbar{
    display: flex;
    justify-content: space-between;
    height: 100px;
    
    
    background-color:white;
}
.sticky{
    position: sticky !important; 
    top: 0 !important;
    z-index:10;
}


.nav-links{
    display: flex;
    list-style: none;
    align-items: center;
}
.nav-links, li{
    gap:1.8rem;
    padding-left:0rem;
    font-weight: 500;

   
}

.logo, img{
    height: 80px;
    margin: 5px 0 0 5px;


}
.num{
        padding-right:2.3rem;
        display: flex;
        margin: 20px 5px 20px 5px;
        align-items: center;
        text-align: center;
    background-color:#ffcd01;
    font-weight: 500;}

.icons{
    font-size:25px;
    display: none;
}

li:hover{
        color: #ffcd01;
       cursor: pointer;
}


    @media (max-width:1290px) {
        .num{
            display: none;
        }
    }

    @media (max-width:1101px) {
       
.nav-links{
    font-size: 12px;
}
    }


    @media (max-width:956px) {
        .icons{
            font-size:25px;
            display: flex;
            padding: 20px !important;
        }

        .nav-links{
            display: flex;
            flex-direction: column;
            position: absolute;
            top:100px;
            
            padding: 10px 0 10px 0;
            width:100%;
            height: 100vh;
          
            background: rebeccapurple;
        }

        .nav-links.active{
            left: -100%;
        }



        li:hover{
           
            color: #ffcd01;
           cursor: pointer;
    }

    .logo, img{
        height:60px;
        margin: 5px 0 0 5px;
        align-items: center;
    
    }
       
        

}